:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #ED2590;
  --soft-pink: #FFB6C1;
  --text: #2d2d2d;
  --gray: #D9E6F7;
  --soft-gray: #BFC9D1;
  --gray-dark: #575151;
  --transparent-gray: rgba(240, 240, 255, 0.95);
  --yellow: #F8DE22;
  --blue: #03AED2;
  --red: #FF3737;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

